#header {
	float: right;
}
.a {
	display: inline-block;
	float: left;
	padding: 10px 7px;
	font-family: arial;
	font-size: 13px;
	color: #666;
}
#signin {
	color: white;
	background-color: #4285f4;
	padding: 7px 14px;
	border-radius: 4px;
	font-weight: 700;
}
#main {
	display: block;
	margin: auto;
	padding-top: 150px;
	clear: right;
}
.search {
	position: relative;
	display: block;
	margin: auto;
	padding-top: 30px;
	clear: right;
	text-align: -webkit-center;
}
#sbar {
	width: 580px;
	height: 30px;
}
.ss {
	margin: 40px 0px;
	background-color: #f2f2f2;
	height: 40px;
	width: 130px;
	font-family: arial;
	font-size: 13px;
	color: #666;
	font-weight: 700;
	border: 1px #666;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 43px;
    margin: 0 auto;
    background-color: #f2f2f2;
	font-family: arial;
	font-size: 13px;
	color: #666;
}
ul {
    margin: 8px;
    margin-bottom: 6px;
    padding: 8px;
}
li {
    display: inline-block;
    padding: 0px 10px;
}
.fl {
	float: left;
	position: fixed;
	bottom: 0;
}
.fr {
	float: right;
	position: fixed;
	bottom: 0;
	right: 0px;
}